#login {
  background-color: #001529;
  width: 100wh;
  height: 100vh;
  position: relative;
  .form {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .form-wrap {
      .form-header {
        height: 56px;
        line-height: 56px;
        color: #fff;
        // span:first-child {
        //   font-size: 16px;
        //   float: left;
        // }
        // span:last-child {
        //   font-size: 12px;
        //   opacity: 0.3;
        //   float: right;
        // }
        span {
          &:first-child {
            font-size: 16px;
            float: left;
          }
          &:nth-child(2) {
            font-size: 12px;
            opacity: 0.3;
            float: right;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
